extends ../layout_material
block content
    #breadcrumbs-wrapper
            .container
                .row
                    .col.s10.m6.l6
                        h5.breadcrumbs-title=title
                        ol.breadcrumbs
                            li
                                a(href='/') Inicio
                            li
                                a(href='#') Banner Principal
    .row.container
        .col.s12.m12.l12.center
            h4="Banner página principal"
        .row.container
            .carousel.carousel-slider.center(data-indicators='true')
                each img,i in images
                    .carousel-item.red.white-text(href='#one!')
                        img(src="http://34.66.102.221:5000"+img.path)
        .row.container.s12
            .s12.m12.card
                h4="Banners Actuales"
                table
                    thead
                        th="N"
                        th="Imagen"
                        th="Borrar"
                    tbody
                        each img,i in images
                            tr
                                td=(i+1)
                                td
                                    img(src="http://34.66.102.221:5000"+img.path height="80px")
                                td
                                    a(class="" href="#")="Borrar"
        .row.container.center
            .s12.m4.card
                h3="Subir Nueva Imágen"
                img(src="/img/banner.jpg" height="150px" id="foto_producto-0")
                div(class="col s12 center")
                    p
                    div(class="file-field input-field center" id="contenedor_imagen")
                        div(class="btn center")
                            span="Nueva Foto"
                            form(action="/api/subir-imagen" id="form_imagen-0" enctype="multipart/form-data" method="post")
                                input(type="file" name="upload" multiple="multiple" id="imagen-0")
                        div(class="file-path-wrapper")
                            input(class="file-path validate" type="text" onchange="actualizar(0)" value="no se ha subido ninguna fotografía")
                    div(class="col s12 progress" id="contenedor_progress-0" class="c_progress")
                        div(class="indeterminate")
                    div(class="col s12" id="btn_imagen-0" class="botones")
                        button( id="actualizar_foto-0" class="waves-effect waves-light btn green")="Actualizar"
                        button(id="cancelar_foto-0" class="waves-effect waves-light btn red")="Cancelar"

    script.
         $('.carousel.carousel-slider').carousel({fullWidth: true});
    script(src="/javascripts/images/banner.js")
    
