extends ../layout_material
block content
    div(class="row container center" style="padding-top:30px")
        h4="Nueva Factura"
    .row.container.center
        .col.s12.m12.l12.center
            .card-panel.center
                .row
                    h4.header2 Cliente
                    .row
                        .input-field.col.s12.l8
                            input(type="text" value=cuenta.nombre_cuenta disabled)
                            label(for="nombre_cuenta")="Nombre del Cliente"
                        .input-field.col.s12.l4
                            p #{moment(Date.now()).format('MM/DD/YYYY')}
                        div(class="col s12")
                            br
                            p
                        .input-field.col.s12.l4
                            input(type="text" value=cuenta.ruc disabled)
                            label()="RUC"
                        .input-field.col.s12.l4
                            input(type="text" value=cuenta.ciudad+" / "+cuenta.direccion disabled)
                            label()="Dirección"
                        .input-field.col.s12.l4
                            input(type="text" value=cuenta.telefono disabled)
                            label()="Teléfono"
                        
                        .input-field.col.s12.center
                            .input-field.col.s12
                                a.btn.cyan.waves-effect.waves-light.green(href="/factura-cliente")
                                    i.material-icons perm_identity
                                    |  Cambiar Cliente
    .col.s12.m12.l12.center
            .card-panel.center
                h6="Detalle de la Compra"
                .row
                    table(id="detalle")
                        thead
                            th="N"
                            th(style="width: 150px;")="Cantidad"
                            th="Producto"
                            th="Valor Unitario"
                            th="Descuento"
                            th="Total"
                        tbody
                            tr(class="item-1")
                                td(class="index")="1"
                                td
                                    input(onchange="change_quantity(this)"  type="number" class="cantidad" min="1" style="width: 150px;" placeholder="0" id="cantidad-1")
                                td 
                                    select(class="browser-default producto"  onchange="set_data(this)" id="producto-1")
                                        option(selected disabled)="Selecciona un Producto"
                                        each producto in productos
                                            option(value=producto._id precio=producto.precio_max )=producto.nombre_producto
                                td
                                    input(type="number" class="precio_unitario" disabled id="precio-1" )
                                td
                                    input(type="number" class="descuento" min="1" value="0" id="descuento-1")
                                td
                                    input(type="number" class="total" min="1" id="total-1" )
                .row
                    .col.s12.l12.center(style="padding-top:25px")
                        b="Agregar un nuevo item"
                        br
                        button(onclick="add_element()" class="btn-floating waves-effect waves-light gradient-45deg-light-blue-cyan gradient-shadow" id="add_item")
                            i(class="material-icons")="add"

    .row
        .col.s12.m6.l6.center
            p="Revisa que todos los detalles de la venta antes de proseguir con la transacción."
        .col.s12.m6.l6.center
                .card-panel.center
                    h6="Total"
    .row
        .col.s12.center(style="padding-top:30px; padding-bottom:35px")
            button.btn-large.cyan.waves-effect.waves-light.green(id="facturar")
                |  Facturar!

    script(src="/javascripts/facturas/factura.js")