extends ../layout_material
block content
    div(class="row container" style="padding-top:40px")
        div(class="col s12 l6")
            h5="Selecciona un Cliente"
            form(action='/factura')
                select(name="cuenta")
                    each cuenta in cuentas
                        option(value=cuenta._id)=cuenta.nombre_cuenta+"-"+cuenta._id
                br
                p
                input(type="submit" class="btn waves-effect waves-light gradient-45deg-green-teal" value="Siguiente")
        div(class="col s12 l6 center" style="padding-top:60px; padding-left:20px")
            h6
                a(href="/cuentas-nuevo")="o Crear una Nueva Cuenta"
    
            