doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
        
        title Ecommerce Administracion
        
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='stylesheets/css/materialize.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/datatables/jquery.dataTables.min.css') 
        script(type='text/javascript', src='javascripts/jquery-3.2.1.min.js')
        script(type='text/javascript', src='javascripts/js/materialize.min.js')
        script(src='javascripts/code/highcharts.js')
        script(src='javascripts/dropzone.js')
        link(rel='stylesheet', href='stylesheets/css/dropzone.css')
        script(src='javascripts/please-wait/please-wait.js')
        link(rel='stylesheet', href='javascripts/please-wait/please-wait.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')
        script(src='javascripts/SweetAlert/index.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
        script(src='javascripts/code/modules/data.js')
        script(src='javascripts/code/modules/exporting.js')
        script(src="javascripts/tableexport/xlsx.core.min.js")
        script(src="javascripts/tableexport/FileSaver.min.js")
        script(src="javascripts/tableexport/tableexport.min.js")
        script(src='javascripts/datatables/jquery.dataTables.min.js')
        //- Sweet Alert
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")   
        
    body
     block content
     footer.page-footer.black
       .container
          br
          p(class="white-text")="© 2018 ecuadorsmart.com1"
          br
          br
          br
          br     
     script(type='text/javascript', src="javascripts/jquery-ui.js")
     script(type='text/javascript', src='javascripts/jquery.ui.touch-punch.min.js')