doctype html
html(lang='es')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
		meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
		title Ecommerce Administracion
		// Favicons
		link(rel='icon', href='/images/favicon.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='/images/favicon.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='/images/favicon.png')
		// For Windows Phone
		// CORE CSS
		link(href='../material/css/themes/semi-dark-menu/materialize.css', type='text/css', rel='stylesheet')
		link(href='../material/css/themes/semi-dark-menu/style.css', type='text/css', rel='stylesheet')
		// Custome CSS
		link(href='../material/css/custom/custom.css', type='text/css', rel='stylesheet')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='../material/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
		link(href='../material/vendors/jvectormap/jquery-jvectormap.css', type='text/css', rel='stylesheet')
		link(href='../material/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
		script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(type='text/javascript', src='../material/js/materialize.min.js')
		//datatables
		link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/datatables.min.css')
		script(type='text/javascript', src='https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/datatables.min.js')

	body.layout-semi-dark
		// Start Page Loading
		#loader-wrapper
			#loader
			.loader-section.section-left
			.loader-section.section-right
		// End Page Loading
		// ////////////////////////////////////////////////////////////////////////////
		// START HEADER
		header#header.page-topbar
			// start header nav
			.navbar-fixed
				nav.navbar-color
					.nav-wrapper
						.header-search-wrapper.hide-on-med-and-down.sideNav-lock
							i.material-icons buscar
							input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Busca Algo')
						ul.right.hide-on-med-and-down
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.material-icons settings_overscan
							
							li
								a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
									span.avatar-status.avatar-online
										img(src='../material/images/avatar/avatar-7.png', alt='avatar')
										i
						
						// profile-dropdown
						ul#profile-dropdown.dropdown-content
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons face
									|  Profile
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons settings
									|  Settings
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons live_help
									|  Help
							li.divider
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons lock_outline
									|  Lock
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons keyboard_tab
									|  Logout
		// END HEADER
		// ////////////////////////////////////////////////////////////////////////////
		// START MAIN
		#main
			// START WRAPPER
			.wrapper
				// START LEFT SIDEBAR NAV
				aside#left-sidebar-nav.nav-expanded.nav-lock.nav-collapsible
					.brand-sidebar
						h1.logo-wrapper
							a.brand-logo.darken-1(href='/')
								//img(src='../material/images/logo/materialize-logo.png', alt='Ecommerce')
								img(src='../material/images/logo/logo2.png' alt='Ecommerce')
								//span.logo-text.hide-on-med-and-down Panel
							a.navbar-toggler(href='#')
								i.material-icons radio_button_checked
					ul#slide-out.side-nav.fixed.leftside-navigation
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								li.bold
									a.collapsible-header.waves-effect.waves-cyan.active
										i.material-icons insert_emoticon
										span.nav-text Usuarios
									.collapsible-body
										ul
											li
												a(href='/usuarios')
													i.material-icons keyboard_arrow_right
													span Equipo
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons dvr
										span.nav-text Productos
									.collapsible-body
										ul
											li
												a(href='/category')
													i.material-icons keyboard_arrow_right
													span  Categorias
											li
												a(href='/añadir-stock')
													i.material-icons keyboard_arrow_right
													span  Añadir Stock		
											li
												a(href='/productos-activos')
													i.material-icons keyboard_arrow_right
													span  Productos Activos
											li
												a(href='/productos-inactivos')
													i.material-icons keyboard_arrow_right
													span  Productos Inactivos
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons crop_original
										span.nav-text Imágenes
									.collapsible-body
										ul
											li
												a(href='/edit-banner')
													span Banners
								//li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons web
										span.nav-text Facturación
									.collapsible-body
										ul
											li
												a(href='/factura-cliente')
													i.material-icons keyboard_arrow_right
													span Nueva Factura
											li
												a(href='layout-dark.html')
													i.material-icons keyboard_arrow_right
													span Mis Facturas
											li
												a(href='layout-semi-dark.html')
													i.material-icons keyboard_arrow_right
													span Semi Dark Layout
											li
												a(href='layout-fixed-footer.html')
													i.material-icons keyboard_arrow_right
													span Fixed Footer
											li
												a(href='layout-menu-native-scroll.html')
													i.material-icons keyboard_arrow_right
													span Menu Native Scroll
											li
												a(href='layout-menu-collapsed.html')
													i.material-icons keyboard_arrow_right
							//						span Menu Collapsed
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons cast
										span.nav-text Cards
									.collapsible-body
										ul
											li
												a(href='cards-basic.html')
													i.material-icons keyboard_arrow_right
													span  Basic
											li
												a.waves-effect.waves-cyan(href='cards-advance.html')
													i.material-icons keyboard_arrow_right
													span.nav-text Advance
											li
												a(href='cards-extended.html')
													i.material-icons keyboard_arrow_right
													span Extended
								li.bold
									a.waves-effect.waves-cyan(href='app-email.html')
										i.material-icons mail_outline
										span.nav-text Mailbox
								li.bold
									a.waves-effect.waves-cyan(href='app-calendar.html')
										i.material-icons today
										span.nav-text Calender
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons invert_colors
										span.nav-text CSS
									.collapsible-body
										ul
											li
												a(href='css-typography.html')
													i.material-icons keyboard_arrow_right
													span Typography
											li
												a(href='css-color.html')
													i.material-icons keyboard_arrow_right
													span.nav-text Color
											li
												a(href='css-grid.html')
													i.material-icons keyboard_arrow_right
													span.nav-text Grid
											li
												a(href='css-helpers.html')
													i.material-icons keyboard_arrow_right
													span.nav-text Helpers
											li
												a(href='css-media.html')
													i.material-icons keyboard_arrow_right
													span Media
											li
												a(href='css-pulse.html')
													i.material-icons keyboard_arrow_right
													span Pulse
											li
												a(href='css-sass.html')
													i.material-icons keyboard_arrow_right
													span Sass
											li
												a(href='css-shadow.html')
													i.material-icons keyboard_arrow_right
													span Shadow
											li
												a(href='css-animations.html')
													i.material-icons keyboard_arrow_right
													span Animations
											li
												a(href='css-transitions.html')
													i.material-icons keyboard_arrow_right
													span Transition
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons photo_filter
										span.nav-text Basic UI
									.collapsible-body
										ul.collapsible(data-collapsible='accordion')
											li.bold
												a.collapsible-header.waves-effect.waves-cyan
													i.material-icons keyboard_arrow_right
													span.nav-text Buttons
												.collapsible-body
													ul.collapsible(data-collapsible='accordion')
														li
															a(href='ui-basic-buttons.html')
																i.material-icons keyboard_arrow_right
																span Basic
														li
															a(href='ui-extended-buttons.html')
																i.material-icons keyboard_arrow_right
																span Extended
											li
												a(href='ui-icons.html')
													i.material-icons keyboard_arrow_right
													span Icons
											li
												a(href='ui-alerts.html')
													i.material-icons keyboard_arrow_right
													span Alerts
											li
												a(href='ui-badges.html')
													i.material-icons keyboard_arrow_right
													span Badges
											li
												a(href='ui-breadcrumbs.html')
													i.material-icons keyboard_arrow_right
													span Breadcrumbs
											li
												a(href='ui-chips.html')
													i.material-icons keyboard_arrow_right
													span Chips
											li
												a(href='ui-collections.html')
													i.material-icons keyboard_arrow_right
													span Collections
											li
												a(href='ui-navbar.html')
													i.material-icons keyboard_arrow_right
													span Navbar
											li
												a(href='ui-pagination.html')
													i.material-icons keyboard_arrow_right
													span Pagination
											li
												a(href='ui-preloader.html')
													i.material-icons keyboard_arrow_right
													span Preloader
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons library_add
										span.nav-text Advanced UI
									.collapsible-body
										ul
											li
												a(href='advance-ui-carousel.html')
													i.material-icons keyboard_arrow_right
													span Carousel
											li
												a(href='advance-ui-collapsibles.html')
													i.material-icons keyboard_arrow_right
													span Collapsible
											li
												a(href='advance-ui-toasts.html')
													i.material-icons keyboard_arrow_right
													span Toasts
											li
												a(href='advance-ui-tooltip.html')
													i.material-icons keyboard_arrow_right
													span Tooltip
											li
												a(href='advance-ui-dropdown.html')
													i.material-icons keyboard_arrow_right
													span Dropdown
											li
												a(href='advance-ui-feature-discovery.html')
													i.material-icons keyboard_arrow_right
													span Feature Discovery
											li
												a(href='advanced-ui-media.html')
													i.material-icons keyboard_arrow_right
													span Media
											li
												a(href='advanced-ui-modals.html')
													i.material-icons keyboard_arrow_right
													span Modals
											li
												a(href='advance-ui-scrollfire.html')
													i.material-icons keyboard_arrow_right
													span ScrollFire
											li
												a(href='advance-ui-scrollspy.html')
													i.material-icons keyboard_arrow_right
													span Scrollspy
											li
												a(href='advance-ui-tabs.html')
													i.material-icons keyboard_arrow_right
													span Tabs
											li
												a(href='advance-ui-transitions.html')
													i.material-icons keyboard_arrow_right
													span Transitions
											li
												a(href='advance-ui-waves.html')
													i.material-icons keyboard_arrow_right
													span Waves
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons add_to_queue
										span.nav-text Extra Components
									.collapsible-body
										ul
											li
												a(href='extra-components-range-slider.html')
													i.material-icons keyboard_arrow_right
													span Range Slider
											li
												a(href='extra-components-sweetalert.html')
													i.material-icons keyboard_arrow_right
													span SweetAlert
											li
												a(href='extra-components-nestable.html')
													i.material-icons keyboard_arrow_right
													span Shortable & Nestable
											li
												a(href='extra-components-translation.html')
													i.material-icons keyboard_arrow_right
													span Language Translation
											li
												a(href='extra-components-highlight.html')
													i.material-icons keyboard_arrow_right
													span Highlight
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons border_all
										span.nav-text Tables
									.collapsible-body
										ul
											li
												a(href='table-basic.html')
													i.material-icons keyboard_arrow_right
													span Basic Tables
											li
												a(href='table-data.html')
													i.material-icons keyboard_arrow_right
													span Data Tables
											li
												a(href='table-jsgrid.html')
													i.material-icons keyboard_arrow_right
													span jsGrid
											li
												a(href='table-editable.html')
													i.material-icons keyboard_arrow_right
													span Editable Table
											li
												a(href='table-floatThead.html')
													i.material-icons keyboard_arrow_right
													span FloatThead
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons chrome_reader_mode
										span.nav-text Forms
									.collapsible-body
										ul
											li
												a(href='form-elements.html')
													i.material-icons keyboard_arrow_right
													span Form Elements
											li
												a(href='form-layouts.html')
													i.material-icons keyboard_arrow_right
													span Form Layouts
											li
												a(href='form-validation.html')
													i.material-icons keyboard_arrow_right
													span Form Validations
											li
												a(href='form-masks.html')
													i.material-icons keyboard_arrow_right
													span Form Masks
											li
												a(href='form-file-uploads.html')
													i.material-icons keyboard_arrow_right
													span File Uploads
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons pages
										span.nav-text Pages
									.collapsible-body
										ul
											li
												a(href='page-contact.html')
													i.material-icons keyboard_arrow_right
													span Contact Page
											li
												a(href='page-todo.html')
													i.material-icons keyboard_arrow_right
													span ToDos
											li
												a(href='page-blog-1.html')
													i.material-icons keyboard_arrow_right
													span Blog Type 1
											li
												a(href='page-blog-2.html')
													i.material-icons keyboard_arrow_right
													span Blog Type 2
											li
												a(href='page-404.html')
													i.material-icons keyboard_arrow_right
													span 404
											li
												a(href='page-500.html')
													i.material-icons keyboard_arrow_right
													span 500
											li
												a(href='page-blank.html')
													i.material-icons keyboard_arrow_right
													span Blank
								
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons perm_media
										span.nav-text Medias
									.collapsible-body
										ul
											li
												a(href='media-gallary-page.html')
													i.material-icons keyboard_arrow_right
													span Gallery Page
											li
												a(href='media-hover-effects.html')
													i.material-icons keyboard_arrow_right
													span Image Hover Effects
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons account_circle
										span.nav-text User
									.collapsible-body
										ul
											li
												a(href='user-profile-page.html')
													i.material-icons keyboard_arrow_right
													span User Profile
											li
												a(href='user-login.html')
													i.material-icons keyboard_arrow_right
													span Login
											li
												a(href='user-register.html')
													i.material-icons keyboard_arrow_right
													span Register
											li
												a(href='user-forgot-password.html')
													i.material-icons keyboard_arrow_right
													span Forgot Password
											li
												a(href='user-lock-screen.html')
													i.material-icons keyboard_arrow_right
													span Lock Screen
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons pie_chart_outlined
										span.nav-text Charts
									.collapsible-body
										ul
											li
												a(href='charts-chartjs.html')
													i.material-icons keyboard_arrow_right
													span Chart JS
											li
												a(href='charts-chartist.html')
													i.material-icons keyboard_arrow_right
													span Chartist
											li
												a(href='charts-morris.html')
													i.material-icons keyboard_arrow_right
													span Morris Charts
											li
												a(href='charts-xcharts.html')
													i.material-icons keyboard_arrow_right
													span xCharts
											li
												a(href='charts-flotcharts.html')
													i.material-icons keyboard_arrow_right
													span Flot Charts
											li
												a(href='charts-sparklines.html')
													i.material-icons keyboard_arrow_right
													span Sparkline Charts
						//li.li-hover
							p.ultra-small.margin.more-text MORE
						//li
							a(href='angular-ui.html')
								i.material-icons verified_user
								span.nav-text Angular UI
						//li.no-padding
							ul.collapsible(data-collapsible='accordion')
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons photo_filter
										span.nav-text Menu Levels
									.collapsible-body
										ul.collapsible(data-collapsible='accordion')
											li
												a(href='ui-basic-buttons.html')
													i.material-icons keyboard_arrow_right
													span Second level
											li.bold
												a.collapsible-header.waves-effect.waves-cyan
													i.material-icons keyboard_arrow_right
													span.nav-text Second level child
												.collapsible-body
													ul.collapsible(data-collapsible='accordion')
														li
															a(href='ui-basic-buttons.html')
																i.material-icons keyboard_arrow_right
																span Third level
														li.bold
															a.collapsible-header.waves-effect.waves-cyan
																i.material-icons keyboard_arrow_right
																span.nav-text Third level child
															.collapsible-body
																ul.collapsible(data-collapsible='accordion')
																	li
																		a(href='ui-basic-buttons.html')
																			i.material-icons keyboard_arrow_right
																			span Forth level
																	li
																		a(href='ui-extended-buttons.html')
																			i.material-icons keyboard_arrow_right
																			span Forth level
						//li
							a(href='changelogs.html')
								i.material-icons track_changes
								span.nav-text Changelogs
						//li
							a(href='../documentation', target='_blank')
								i.material-icons import_contacts
								span.nav-text Documentation
						//li
							a(href='https://pixinvent.ticksy.com', target='_blank')
								i.material-icons help_outline
								span.nav-text Support
					a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.gradient-45deg-light-blue-cyan.gradient-shadow(href='#', data-activates='slide-out')
						i.material-icons menu
				// END LEFT SIDEBAR NAV
				// ////////////////////////////////////////////////////////////////////////////
				// START CONTENT
				section#content
					// Search for small screen
					.header-search-wrapper.grey.lighten-2.hide-on-large-only
						input.header-search-input.z-depth-2(type='text', name='Search', )

					// start container
					.container
							block content
						
							// END RIGHT SIDEBAR NAV
							// END WRAPPER
							// END MAIN
							// ////////////////////////////////////////////////////////////////////////////
							// START FOOTER
	footer.page-footer
		.footer-copyright
			.container
				//span
					| Copyright ©
					script(type='text/javascript').
						document.write(new Date().getFullYear());
					a.grey-text.text-darken-2(href='http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT
					|  All rights reserved.
				span.right.hide-on-small-only
					| Design and Developed by 
					a.grey-text.text-darken-2(href='') Cristian Calero
				// END FOOTER
				//
					================================================
					Scripts
					================================================
				// jQuery Library
	
				// materialize js
	
				// prism
	script(type='text/javascript', src='../material/vendors/prism/prism.js')
				// scrollbar
	script(type='text/javascript', src='../material/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
				// chartjs
	script(type='text/javascript', src='../material/vendors/chartjs/chart.min.js')
				// plugins.js - Some Specific JS codes for Plugin Settings
	script(type='text/javascript', src='../material/js/plugins.js')
				// custom-script.js - Add your own theme custom JS
	script(type='text/javascript', src='../material/js/custom-script.js')
	script(type='text/javascript', src='../material/js/scripts/dashboard-ecommerce.js')
