extends layout2

block content 
    .navbar-fixed
        nav
            .nav-wrapper.blue
                a.brand-logo.right(href='/' style="padding-right:10px")
                    i.material-icons cloud
                    | SMART
                ul
                    li
                        a(href='javascript:window.location.reload()')
                            i.material-icons refresh

    div(clas="row col s12 center")
        div(class="col s12 center")
            h3="Envio de Mensajes"
            p="si cierra esta ventana cancelará el envío de Whatsapp"
            a(href="/")="Regresar"
        div(class="col s12 m2")
        div(class="col s12 m8" id="canvas")
            table(id="tabla")
                thead
                    th="N"
                    th="Nombre"
                    th="Celular"
                    th="Correo"
                tbody

        div(class="col s12 m2")
    
    script(src="/javascripts/envio.js")