extends ../layout_material

block content 
    h4="Editar Usuario"
    div(class="row center")
        if(msj)
            div(class="chip red white-text" style="margin:15px")
                =msj
                i(class="close material-icons")="close"
    div(class="row container")
        div(class="row col s12 m2")
        div(class="row col s12 m8 card" style="padding-top:30px; padding-bottom:40px")
            div(class="card-content center")
                span(class="card-title")='Datos del Usuario'
                form(method="post" action="/actualizar-usuario")
                    div(class="input-field col s12 m3")
                        input(type="text" name="nombre_usuario" value=usuario[0].nombre_usuario  class="validate")
                        label="Nombre de Usuario"
                    div(class="input-field col s12 m3")
                        input(type="email" name="correo_usuario" value=usuario[0].correo_usuario class="validate")
                        label="Correo de Usuario"
                    div(class="input-field col s12 m3")
                        input(type="text" name="celular_usuario" value=usuario[0].celular_usuario class="validate")
                        input(type="hidden" name="cod" value=usuario[0]._id class="validate")
                        label="Celular de Usuario"
                    div(class="input-field col s12 m3")
                        select(name="tipo_usuario" )
                            if(usuario[0].tipo_usuario==1)
                                option(value="1" selected)="Administrador"
                                option(value="2")="Asesor Comercial"
                            if(usuario[0].tipo_usuario==2)
                                option(value="1")="Administrador"
                                option(value="2" selected)="Asesor Comercial"
                    div(class="col s12")
                        input(type="submit" value="Actualizar Usuario" class="waves-effect waves-light btn")
                    br
                    p
                    br
        div(class="row col s12 m2")
    div(class="row container center")
        div(class="row col s12 m2")
        div(class="row col s12 m8 card" style="padding-top:30px; padding-bottom:40px")
                form(method="post" action="/actualizar-password")
                    div(class="col s12")
                        span(class="card-title")='Cambiar Password'
                    div(class="input-field col s12 m6")
                        input(type="password" name="password"  class="validate")
                        label="Password"
                    div(class="input-field col s12 m6")
                        input(type="password" name="password2"  class="validate")
                        input(type="hidden" name="cod" value=usuario[0]._id class="validate")
                        label="Repite el Password"
                    div(class="col s12")
                        input(type="submit" value="Crear Usuario" class="waves-effect waves-light btn")
        div(class="row col s12 m2")