extends ../layout_material

block content 
    h4="Gestión de Usuarios"
    div(class="row center")
        if(msj)
            div(class="chip red white-text" style="margin:15px")
                =msj
                i(class="close material-icons")="close"
    div(class="row container")
        div(class="row col s12 m2")
        div(class="row col s12 m8 card" style="padding-top:30px; padding-bottom:40px")
            div(class="card-content center")
                span(class="card-title")='Nuevo Usuario'
                form(method="post" action="/nuevo-usuario")
                    div(class="input-field col s12 m3")
                        input(type="text" name="nombre_usuario"  class="validate")
                        label="Nombre de Usuario"
                    div(class="input-field col s12 m3")
                        input(type="email" name="correo_usuario"  class="validate")
                        label="Correo de Usuario"
                    div(class="input-field col s12 m3")
                        input(type="text" name="celular_usuario"  class="validate")
                        label="Celular de Usuario"
                    div(class="input-field col s12 m3")
                        select(name="tipo_usuario" )
                            option(value="1")="Administrador"
                            option(value="2")="Asesor Comercial"
                    div(class="col s12")
                        span(class="card-title")='Password'
                    div(class="input-field col s12 m6")
                        input(type="password" name="password"  class="validate")
                        label="Password"
                    div(class="input-field col s12 m6")
                        input(type="password" name="password2"  class="validate")
                        label="Repite el Password"
                    div(class="col s12")
                        input(type="submit" value="Crear Usuario" class="waves-effect waves-light btn")
        div(class="row col s12 m2")
        div(class="row col s12 card")
            div(class="card-content")
                span(class="card-title")='Usuarios Existentes'
                table
                    thead
                        th='N'
                        th='Nombre'
                        th='Correo'
                        th='Teléfono'
                        th='Tipo'
                        th='Editar'
                        th='Eliminar'
                    tbody
                        each usuario, i  in usuarios
                            tr
                                td=(i+1)
                                td=usuario.nombre_usuario
                                td=usuario.correo_usuario
                                td=usuario.celular_usuario
                                td
                                    if(usuario.tipo_usuario==1)
                                        b="Administrador"
                                    if(usuario.tipo_usuario==2)
                                        b="Asesor Comercial"
                                td
                                    a(class="btn-floating blue" href="/editar-usuario?cod="+usuario._id)
                                        i(class="material-icons")="create"
                                td
                                    a(class="btn-floating red" href="/borrar-usuario?cod="+usuario._id)
                                        i(class="material-icons")="delete"
        script
            $('select').material_select();
            $('.chips').material_chip();