extends ../layout_material
block content  
    h4="Asignación de Categorias"
    div(class="col s12")
        p=productos[0].description
        table(id="productos")
            thead  
                th="N°"
                th="Codigo"
                th="Descripcion"
                th="Asignar Categoria"
            tbody 
                each producto, i in productos
                    tr
                        td=(i+1)
                        td=producto.codigo
                        td=producto.description
                        td
                            a(href="asignation/imagecategory?cod="+producto._id class="waves-effect waves-light btn")="Asignar Categoria"                        
    div(class="col s12 center" style="padding-top:25px; padding-bottom:30px;")
    script
        $('#productos').DataTable();
    
        