extends ../layout_material
block content   
    #basic-form.section
        .row
            .col.s12.m4
            .col.s12.m4.center
                h3=imagenes[0].codigo
                input(type="hidden" value=imagenes[0]._id id="global_cod")
                h5=imagenes[0].description
                if(imagenes[0].activo==1)
                    p="Este Producto Actualmente se MUESTA en la tienda"
                    button(class="waves-effect waves-light btn red")="Ocultar Producto"
                else
                    p="Este Producto Actualmente NO SE MUESTA en la tienda"
                    button(class="waves-effect waves-light btn green")="Activar Producto"
            .col.s12.m4
        div(class="row")
            h4="Imágenes del producto"
        .row
            //Imagen 1
            .col.s12.m4.card.center
                span(class="card-title" style="padding-top:10px")="Imagen 1"
                br
                img(src=imagenes[0].image[0] width="100%" id="preview1")
                div(class="col s12 center")
                    div(class='center')
                        form(action="/api/subir-imagen" id="form_imagen1" enctype="multipart/form-data" method="post")
                            div(class="file-field input-field col s12")
                                div(class="btn" style="margin-left: 35px;" id="nueva_foto1")
                                    span()="Nueva Foto"
                                    input( type="file" accept="image/x-png,image/gif,image/jpeg" name="upload" multiple="multiple")
                                div(class="file-path-wrapper")
                                    input(class="file-path validate" type="hidden" id="imagen1" value=imagenes[0].image[0])
                    div(class="col s12 progress" id="contenedor_progress1")
                        div(class="indeterminate")
                    div(class="col s12" id="btn_imagen1")
                        button( id="actualizar_foto1" class="waves-effect waves-light btn green")="Actualizar"
                        button(id="cancelar_foto1" class="waves-effect waves-light btn red")="Cancelar"
                    div(class="col s12")
                        br
                        p="Imagen Principal"
            //imagen 2
            .col.s12.m4.card.center
                span(class="card-title" style="padding-top:10px")="Imagen 2"
                br
                img(src=imagenes[0].image[1] width="100%" id="preview2")
                div(class="col s12 center")
                    div(class='center')
                        form(action="/api/subir-imagen" id="form_imagen2" enctype="multipart/form-data" method="post")
                            div(class="file-field input-field col s12")
                                div(class="btn" style="margin-left: 35px;" id="nueva_foto2")
                                    span()="Nueva Foto"
                                    input( type="file" accept="image/x-png,image/gif,image/jpeg" name="upload" multiple="multiple")
                                div(class="file-path-wrapper")
                                    input(class="file-path validate" type="hidden" id="imagen2" value=imagenes[0].image[1])
                    div(class="col s12 progress" id="contenedor_progress2")
                        div(class="indeterminate")
                    div(class="col s12" id="btn_imagen2")
                        button( id="actualizar_foto2" class="waves-effect waves-light btn green")="Actualizar"
                        button(id="cancelar_foto2" class="waves-effect waves-light btn red")="Cancelar"
                    div(class="col s12")
                        br
                        p="Imagen "
            //imagen 3
            .col.s12.m4.card.center
                span(class="card-title" style="padding-top:10px")="Imagen 3"
                br
                img(src=imagenes[0].image[2] width="100%" id="preview3")
                div(class="col s12 center")
                    div(class='center')
                        form(action="/api/subir-imagen" id="form_imagen3" enctype="multipart/form-data" method="post")
                            div(class="file-field input-field col s12")
                                div(class="btn" style="margin-left: 35px;" id="nueva_foto3")
                                    span()="Nueva Foto"
                                    input( type="file" accept="image/x-png,image/gif,image/jpeg" name="upload" multiple="multiple")
                                div(class="file-path-wrapper")
                                    input(class="file-path validate" type="hidden" id="imagen3" value=imagenes[0].image[2])
                    div(class="col s12 progress" id="contenedor_progress3")
                        div(class="indeterminate")
                    div(class="col s12" id="btn_imagen3")
                        button( id="actualizar_foto3" class="waves-effect waves-light btn green")="Actualizar"
                        button(id="cancelar_foto3" class="waves-effect waves-light btn red")="Cancelar"
                    div(class="col s12")
                        br
                        p="Imagen "
        div(class="row")
            h4="GENERO"
            div(class="col s12 m3 card center")
                p="Selecciona el género a la que pertenece el producto, no repitas la categoría "
                b="Categoría 1"
                select(id="cat1")
                    each category in genders
                        if(category._id==imagenes[0].category[0])
                            option(selected value=category._id)=category.nombre
                        else
                            option(value=category._id)=category.nombre
                br
                p
                br
                p
                p
                button(id="btn1" class="waves-effect waves-light btn blue")="Actualizar"
            div(class="col s12 m3 card center")
                p="Selecciona la categoría a la que pertenece el producto, no repitas la categoría "
                b="Categoría"
                select(id="cat2")
                     each category in categories
                        if(category._id==imagenes[0].category[1])
                            option(selected value=category._id)=category.nombre
                        else
                            option(value=category._id)=category.nombre
                br
                p
                br
                p
                p
                button(id="btn2" class="waves-effect waves-light btn blue")="Actualizar"
            div(class="col s12 m3 card center")
                p="Selecciona la línea a la que pertenece el producto, no repitas la categoría "
                b="Línea"
                select(id="cat3")
                     each category in lines
                        if(category._id==imagenes[0].category[2])
                            option(selected value=category._id)=category.nombre
                        else
                            option(value=category._id)=category.nombre
                br
                p
                br
                p
                p
                button(id="btn3" class="waves-effect waves-light btn blue")="Actualizar"
            div(class="col s12 m3 card center")
                p="Selecciona la Marca a la que pertenece el producto, no repitas la categoría "
                b="Marca"
                select(id="cat4")
                     each category in brands
                        if(category._id==imagenes[0].category[3])
                            option(selected value=category._id)=category.nombre
                        else
                            option(value=category._id)=category.nombre
                br
                p
                br
                p
                p
                button(id="btn4" class="waves-effect waves-light btn blue")="Actualizar"
                

        

    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.1/dist/sweetalert2.all.min.js")        
    script(type='text/javascript', src='../javascripts/crm/subir-archivo.js')
