head 
	link(href='../material/css/themes/semi-dark-menu/materialize.css', type='text/css', rel='stylesheet')
	link(href='../material/css/themes/semi-dark-menu/style.css', type='text/css', rel='stylesheet')
body
	.container.center
		.row
			.col.offset-l3.offset-m3.l6.m6.s12.grey.lighten-5
				.container
					br
					br
					br
					br            
					//i.material-icons.large account_circle
					img(src='../material/images/logo/logo2.png', width="30%" heigth="auto" alt='Ecommerce')
					br
					br
					h5= "Iniciar Sesión"
					p= "Ecommerce Administración"
					br
					br
					form(action='/' method='post')
						input(name="username" type="email" placeholder="Correo Electrónico" required )
						input(name="password" type="password" placeholder="Tu Contraseña" required)
						button.waves-effect.waves-light.btn(type="submit")
							i.material-icons.right send
							| Ingresar
					if(mensaje)
						br
						p=mensaje
						br
					br
	script(type='text/javascript', src='../material/vendors/jquery-3.2.1.min.js')
							// materialize js
	script(type='text/javascript', src='../material/js/materialize.min.js')
							// prism
	script(type='text/javascript', src='../material/vendors/prism/prism.js')
							// scrollbar
	script(type='text/javascript', src='../material/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
