extends ../layout_material
block content   
    .row.container
        #breadcrumbs-wrapper
            .container
                .row
                    .col.s10.m6.l6
                        h5.breadcrumbs-title=title
                        ol.breadcrumbs
                            li
                                a(href='/') Inicio
                            li
                                a(href='#') Productos Activos
        .col.s12.m12.l12.center
            h4="Productos Activos"
        .col.s12.m12.center.card
            table(id="table")
                thead
                    th="N"
                    th="Producto"
                    //th="Marca"
                    th="Categoría"
                    th="Descripción"
                    //th="Género"
                    //th="Línea"
                    th="Imágenes"
                    th="Desactivar"
                    th="Destacar"
                    th="Stock"
                tbody
                    each dt,i in data
                        tr
                            td=(i+1)
                            td=dt.codigo
                            //td=dt.marca
                            td=dt.categoria
                            //td=dt.genero
                            td=dt.descripcion
                            td
                                a(class="waves-effect waves-light btn blue" href="/product-image?codigo="+dt.codigo)="Img"
                            td
                                a(class="waves-effect waves-light btn red" href='/product-disable?_id='+dt._id)="Off"
                            td
                                if(dt.featured==0)
                                    a(class="waves-effect waves-light btn orange  light-blue darken-4" href="/product-featured?_id="+dt._id)="Destacar"
                                else
                                   a(class="waves-effect waves-light btn indigo darken-3" href="/product-unfeatured?_id="+dt._id)="Normal" 
                            td
                                a(class="waves-effect waves-light btn green" href='/product-stock?cod='+dt.codigo)="Stock"
    script
        $('#table').DataTable();