extends ../layout_material
block content   
    .row.container
        #breadcrumbs-wrapper
            .container
                .row
                    .col.s10.m6.l6
                        h5.breadcrumbs-title=title
                        ol.breadcrumbs
                            li
                                a(href='/') Inicio
                            li
                                a(href='#') Imágenes por Código
        .col.s12.m12.l12.center
            h4="Colores por Codigo"
        .col.s12.m12.center.card
            table
                thead
                    th="N"
                    th="Color"
                    th="Subir Fotos"
                tbody
                    each color, i in colores
                        tr
                            td=(i+1)
                            td=color
                            td
                                a.btn.btn-large(href="/product-image-color?codigo="+codigo+"&color="+color)="Subir Fotografías"
