extends ../layout_material
block content
    //breadcum 
    #breadcrumbs-wrapper
        .container
            .row
                .col.s10.m6.l6
                    h5.breadcrumbs-title=title
                    ol.breadcrumbs
                        li
                            a(href='/') Inicio
                        li
                            a(href='/productos-activos') Productos Activos
                        li
                            a(href='#') Editar Imágen
    .row.container
        .col.s12.m12.l12.center
            h5="Productos Activos en La tienda"
            h5=codigo
            h6="sube fotografias que correspondan al color "+color
            input(type="hidden" id="codigo" value=codigo)
            input(type="hidden" id="color" value=color)
        .col.s12.m6.center.card
            h5="Imágen 1"
            img(src=data[0].image[0] width="100%" id="foto_producto-0")
            div(class="col s12 center")
                p
                div(class="file-field input-field center" id="contenedor_imagen")
                    div(class="btn center")
                        span="Nueva Foto"
                        form(action="/api/subir-imagen" id="form_imagen-0" enctype="multipart/form-data" method="post")
                            input(type="file" name="upload" multiple="multiple" id="imagen-0")
                    div(class="file-path-wrapper")
                        input(class="file-path validate" type="text" onchange="actualizar(0)" value="no se ha subido ninguna fotografía")
                div(class="col s12 progress" id="contenedor_progress-0" class="c_progress")
                    div(class="indeterminate")
                div(class="col s12" id="btn_imagen-0" class="botones")
                    button( id="actualizar_foto-0" class="waves-effect waves-light btn green")="Actualizar"
                    button(id="cancelar_foto-0" class="waves-effect waves-light btn red")="Cancelar"
        //.col.s12.m6.center.card
            h5="Imágen 2"
            img(src=data[0].image[1] width="100%" id="foto_producto-1")
            div(class="col s12 center")
                p
                div(class="file-field input-field center" id="contenedor_imagen")
                    div(class="btn center")
                        span="Nueva Foto"
                        form(action="/api/subir-imagen" id="form_imagen-1" enctype="multipart/form-data" method="post")
                            input(type="file" name="upload" multiple="multiple" id="imagen-1")
                    div(class="file-path-wrapper")
                        input(class="file-path validate" type="text" onchange="actualizar(1)" value="no se ha subido ninguna fotografía")
                div(class="col s12 progress" id="contenedor_progress-1" class="c_progress")
                    div(class="indeterminate")
                div(class="col s12" id="btn_imagen-1" class="botones")
                    button( id="actualizar_foto-1" class="waves-effect waves-light btn green")="Actualizar"
                    button(id="cancelar_foto-1" class="waves-effect waves-light btn red")="Cancelar"
       // .col.s12.m12.center
        .col.s12.m6.center.card
            h5="Imágen 3"
            img(src=data[0].image[2] width="100%" id="foto_producto-2")
            div(class="col s12 center")
                p
                div(class="file-field input-field center" id="contenedor_imagen")
                    div(class="btn center")
                        span="Nueva Foto"
                        form(action="/api/subir-imagen" id="form_imagen-2" enctype="multipart/form-data" method="post")
                            input(type="file" name="upload" multiple="multiple" id="imagen-2")
                    div(class="file-path-wrapper")
                        input(class="file-path validate" type="text" onchange="actualizar(2)" value="no se ha subido ninguna fotografía")
                div(class="col s12 progress" id="contenedor_progress-2" class="c_progress")
                    div(class="indeterminate")
                div(class="col s12" id="btn_imagen-2" class="botones")
                    button( id="actualizar_foto-2" class="waves-effect waves-light btn green")="Actualizar"
                    button(id="cancelar_foto-2" class="waves-effect waves-light btn red")="Cancelar"
        .col.s12.m6.center.card
            h5="Imágen 4"
            img(src=data[0].image[3] width="100%" id="foto_producto-3")
            div(class="col s12 center")
                p
                div(class="file-field input-field center" id="contenedor_imagen")
                    div(class="btn center")
                        span="Nueva Foto"
                        form(action="/api/subir-imagen" id="form_imagen-3" enctype="multipart/form-data" method="post")
                            input(type="file" name="upload" multiple="multiple" id="imagen-3")
                    div(class="file-path-wrapper")
                        input(class="file-path validate" type="text" onchange="actualizar(3)" value="no se ha subido ninguna fotografía")
                div(class="col s12 progress" id="contenedor_progress-3" class="c_progress")
                    div(class="indeterminate")
                div(class="col s12" id="btn_imagen-3" class="botones")
                    button( id="actualizar_foto-3" class="waves-effect waves-light btn green")="Actualizar"
                    button(id="cancelar_foto-3" class="waves-effect waves-light btn red")="Cancelar"

    script(src="/javascripts/product/image.js")