extends ../layout_material
block content
    #breadcrumbs-wrapper
            .container
                .row
                    .col.s10.m6.l6
                        h5.breadcrumbs-title=title
                        ol.breadcrumbs
                            li
                                a(href='/') Inicio
                            li
                                a(href='#') Productos General
    div(class="row container")
        div(class="row col s12 m2")
        div(class="row col s12 m8 card" style="padding-top:30px; padding-bottom:40px")
            div(class="card-content center")
                span(class="card-title")='Añadir Producto'
                form(method="post" action="/producto-nuevo")
                    div(class="input-field col s12 m6")
                        select(name="category" )
                            each c in category
                                option(value=c.category)=c.category
                        label="Categoria"
                    div(class="input-field col s12 m6")
                        input(type="text" name="codigo"  class="validate")
                        label="Código del Producto"
                    div(class="input-field col s12 m12")
                        input(type="text" name="descripcion"  class="validate")
                        label="Descripción del Producto"    
                    div(class="col s12")
                        input(type="submit" value="Crear Producto" class="waves-effect waves-light btn")    
    .row.container
        .col.s12.m12.l12.center
            h4="Productos General"
        .col.s12.m12.center.card
            table(id="table")
                thead
                    th="N"
                    th="Código del Producto"
                    th="Categoria"
                    th="Descripción"
                    th="Estado"
                    th="Stock"
                tbody
                    each dt,i in data
                        tr
                            td=(i+1)
                            td=dt.codigo
                            th=dt.categoria
                            td=dt.descripcion
                            td
                                a(class="waves-effect waves-light btn green" href='/product-enable?_id='+dt._id)="On"
                            td
                                a(class="waves-effect waves-light btn blue" href='/producto-add-stock?_id='+dt._id+'&codigo='+dt.codigo)="Stock"
    script
        $('#table').DataTable();