extends ../layout_material
block content
    //breadcum 
    #breadcrumbs-wrapper
        .container
            .row
                .col.s10.m6.l6
                    h5.breadcrumbs-title=title
                    ol.breadcrumbs
                        li
                            a(href='/') Inicio
                        li
                            a(href='/productos-activos') Productos Activos
                        li
                            a(href='#') Stock
    .row.container
        .col.s12.m12.l12.center
            h5=data.codigo
            b=data.descripcion
            p="Esto se actualiza automáticamente con datos del sistema cada media hora"
        .col.s12.m12

        each dt in data.disponibilidad
            .col.s12.m4.card.center()
                b="TALLA: "+dt.talla
                table(class="highlight")
                    tr
                        td="Precio"
                        td=dt.precio
                    tr
                        td="Stock"
                        td=dt.stock
                    tr
                        td="Embalaje"
                        td=dt.embalaje
                    tr
                        td="Código del Sistema"
                        td=dt.codigo_sistema
                div
                    p="Categorías"
                    .chip
                        a(href="/categoria/:"+dt.genero)=dt.genero
                    .chip
                        a(href="/categoria/:"+dt.categoria)=dt.categoria
                    .chip
                        a(href="/categoria/:"+dt.marca)=dt.marca
                    .chip
                        a(href="/categoria/:"+dt.linea)=dt.linea
                        

                        //Lenin mantilla
                        //
            