extends ../layout_material
block content
    #breadcrumbs-wrapper
            .container
                .row
                    .col.s10.m6.l6
                        h5.breadcrumbs-title=title
                        ol.breadcrumbs
                            li
                                a(href='/') Inicio
                            li
                                a(href='#') Stock
    div(class="row container")
        div(class="row col s12 m2")
        div(class="row col s12 m8 card" style="padding-top:30px; padding-bottom:40px")
            div(class="card-content center")
                span(class="card-title")='Nueva Combinación'
                form(method="post" action="/producto-add-stock")
                    div(class="input-field col s12 m3")
                        input(type="text" name="codigo" value=list[0].codigo)
                        label="Código Principal"
                    div(class="input-field col s12 m3")
                        input(type="text" name="color"  required)
                        label="Color"     
                    div(class="input-field col s12 m3")
                        input(type="number" name="talla"  required)
                        label="Medida" 
                    div(class="input-field col s12 m3")
                        input(type="number" name="precio"  step="0.01" required)
                        label="Precio"        
                     div(class="input-field col s12 m3")
                        input(type="number" name="stock"  required)
                        label="Stock" 
                        input(type="hidden" name="_id"  value=list[0]._id required)
                    div(class="input-field col s12 m3")
                        select(name="embalaje" )
                            option(value="Unidad")="Unidad"
                            option(value="Docena")="Docena"     
                        label="Unidad de medida"
                    div(class="col s12")
                        input(type="submit" value="Crear Producto" class="waves-effect waves-light btn")    
    .row.container
        .col.s12.m12.l12.center
            h4="Producto : "+list[0].codigo
            h5=list[0].descripcion
        .col.s12.m12.center.card
            table(id="table")
                thead
                    th="N"
                    th="Código Sistema"
                    th="Categoria"
                    th="Color"
                    th="Medida"
                    th="Precio"
                    th="Stock"
                    th="Embalaje"
                tbody
                    each dt,i in data[0].disponibilidad
                        tr
                            td=(i+1)
                            td=dt.codigo_sys
                            td=dt.color
                            th=dt.categoria
                            td=dt.talla
                            td=dt.precio
                            td=dt.stock
                            td=dt.embalaje
                            //td
                                a(class="waves-effect waves-light btn green" href='/product-enable?_id='+dt._id)="On"
                                td
                                a(class="waves-effect waves-light btn blue" href='/product-stock?_id='+dt._id)="Stock"
    script
        $('#table').DataTable();